<%# HEADER %>
<div id="cover" class="row mar-b-20">
	<div class="head-overlay alt">
		channel: <%= link_to @channel.title , @channel %>
		<% if can? :update , Channel %>
			<%= link_to 'Edit', edit_channel_path(@channel) , class:"pull-right text-std" %>
		<% end %>
	</div>
</div>

<%# LEFT AREA %>
<% if @mindlogs.any? %>
	<h3 class="mar-nil">Showing Mindlogs</h3>
	<div class="mar-b-10">Page <%= params[:page] || 1 %></div>
	<table class="table table-striped link-alt">
		<th>Title</th>
		<th>When?</th>
		<% @mindlogs.each do |m| %>
			<tr>
			<td><%= link_to m.title, m %></td>
			<td><%= time_ago(m.created_at) %></td>
			</tr>
		<% end %>
	</table>
	<%= paginate @mindlogs %>

<% else %>

	<h2>None yet :'(</h2>

<% end %>

<% content_for :r2 do %>
	<div class="widget bg-dark pull-left">
		<div class="lg"><%= link_to ("%02d" % @channel.mindlogs.count), mindlogs_channel_path(@channel) %></div>
		<div class="suffix">mindlogs</div>
	</div>
<% end %>