<% @title = "Admin" %>
<h1>Welcome to Psymic Admin</h1>
<p>Contact the sysadmin if you need specifid tasks done which cannot be handled using this front-end.</p>

<table class="table table-striped">

<tr>
<td></td>
<td class='col-lg-3'><%= link_to 'Reports' , admin_reports_index_path %></td>
<td class='col-lg-9'>Community reports over quality of posted content</td>
</tr>

<tr>
<td><span class="badge bg-themed"><%= User.unread_by(current_user).count %></td>
<td><%= link_to 'Users' , users_path %></td>
<td>List of all current Psymic Users</td>
</tr>

<tr>
<td><span class="badge bg-themed"><%= @mindlogs_count %></span></td>
<td><%= link_to 'Mindlogs' , moderation_queue_mindlogs_path %></td>
<td>Mindlogs awaiting moderation</td>
</tr>

</table>