<h1>Listing synapsedefs</h1>

<table>
  <tr>
    <th>Synapse</th>
    <th>Class</th>
    <th>Def</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @synapsedefs.each do |synapsedef| %>
  <tr>
    <td><%= synapsedef.synapse %></td>
    <td><%= synapsedef.class %></td>
    <td><%= synapsedef.def %></td>
    <td><%= link_to 'Show', synapsedef %></td>
    <td><%= link_to 'Edit', edit_synapsedef_path(synapsedef) %></td>
    <td><%= link_to 'Destroy', synapsedef, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Synapsedef', new_synapsedef_path %>
