<p id="notice"><%= notice %></p>

<p>
  <b>Synapse:</b>
  <%= @synapsedef.synapse %>
</p>

<p>
  <b>Class:</b>
  <%= @synapsedef.class %>
</p>

<p>
  <b>Def:</b>
  <%= @synapsedef.def %>
</p>


<%= link_to 'Edit', edit_synapsedef_path(@synapsedef) %> |
<%= link_to 'Back', synapsedefs_path %>
