<% @title = "Settings" %>
<div class="head">
<h1>Account Settings</h1>
</div>

<%= bootstrap_form_for resource, :as => resource_name, :url => registration_path(resource_name), style: :horizontal, left: "col-sm-3" , right:"col-sm-9" do |f| %>
  <%= devise_error_messages! %>
  <%= f.email_field :email %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>
  <%= f.password_field :password, :autocomplete => "off" , placeholder:"leave blank if you don't want to change it" %>
  <%= f.password_field :password_confirmation %>
  <%= f.password_field :current_password , placeholder: "Required to confirm your changes" %>
  <%= f.form_group :email_options ,label: { text: "Email options" } do %>
      <%= f.check_box :email_on_new_response %>
      <%= f.check_box :email_on_response_comment %></br>
      <%= f.submit :Update , class:"btn btn-success" %>
  <% end %>
<% end %>