<% title "Sign up" %>
<%= javascript_include_tag 'bootstrap-datepicker','datepicker_init' %>
<%= stylesheet_link_tag 'bootstrap-datepicker' %>

<div class="head">
  <h2>Join Psymic</h2>
</div>

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , style: :horizontal , left: "col-lg-3" , right: "col-lg-9" , html: {autocomplete: :off}) do |f| %>
  <%= f.text_field :username , class:"form-control", placeholder:"Usernames cannot be changed later" %>
  <%= f.select :gender , {'Female'=>'female','Male'=>'male'} , :prompt => "Select Gender" %>
  <%= f.text_field :dob , "data-behaviour"=>"datepicker" , label: "Birth Date" , placeholder: "yyyy/mm/dd" %>

  <div class="form-group">
  <%= f.label :country , class: "control-label col-lg-3" %>
  <div class="col-lg-9"><%= f.country_select :country , nil , {prompt: "Select Country"}, {class:"form-control"}  %></div></div>

  <%= f.text_area :body , label: "Introduction", placeholder:"Write what best describes your profession and primary skills." , size: "24x3"  %>
  <%= f.email_field :email , placeholder: "Must be Valid" %>
  <%= f.password_field :password , placeholder:"At least 8 characters" %>
  <%= f.password_field :password_confirmation , label: "Retype Password", placeholder:"Just to be sure" %>
  <%= f.form_group :email_options ,label: { text: "Email options" } do %>
      <%= f.check_box :email_unread_notifications , label: "New Notifications" %>
      <%= f.check_box :email_new_messages_count, label: "New Messages" %>
      <%= f.check_box :email_site_updates, label: "Sitewide updates" %></br>
      <%= f.submit "Sign up" , class:"btn btn-success" %>
  <% end %>

<% end %>
