<% @title = "Notifications" %>
<div class="head">
	<h1>Notifications</h1>
</div>
<p class="text-md">You have <%= pluralize(@notifications_count,'new notification') %></p>
<table class="table table-striped mar-t-10">
<% @activities.each do |a| %>
 	 <tr>
		<td <%= "class= danger" if !a.read? %> >
			<%= render_activity(a) %>
		<span class="text-sm text-lighter"><%= distance_of_time_in_words(Time.now, a.created_at , true, {:highest_measure_only => true}) %> ago</span></td>
	</tr>
	<% a.update_attribute(:read,true) %>
	<% a.mark_as_read! for: current_user %>
<% end %>
</table>

<%= paginate @activities %>