<h1>Notifications</h1>
<%= content_for :r2 do %>
<table id="subscriptions_list">
 	 <h4><%= link_to "Subscriptions Updates" , subscriptions_path %></h4>
<% @subscriptions.each do |s| %> 
 	 <tr>
 	 <td><span class="badge mar-5"><%= s.counter %></span></td>
 	 <td><%= link_to s.subscribable.title , polymorphic_path(s.subscribable) %></td>
	</tr>
<% end %>
</table>
<% end %>

<table class="table table-striped">
<% @notifications.each do |n| %> 
 	 <tr>
		<td <%= "class= danger" if n.counter >= 1 %> ><%= n.text.html_safe %>
		<span class="text-sm text-light"><%= distance_of_time_in_words(Time.now, n.updated_at , true, {:highest_measure_only => true}) %> ago</span></td>
	</tr>
<% end %>
</table>

<% @notifications.each do |n| %>
	<% n.counter = 0 %>
	<% n.save %>
	<% end %>