<h1>Editing Profile<span class="float-right"><%= link_to "Back" , :back , class:"btn btn-default" %></span></h1></br>

<%= bootstrap_form_for(@user, style: :horizontal , left: "col-lg-3" , right: "col-lg-9")  do |f| %>

<%= f.text_field :username , disabled:true , help: "Usernames can be changed." %>
<%= f.select :gender , {'Male'=>'male','Female'=>'female'} %>
<%= f.text_field :dob , "data-behaviour"=>"datepicker"  %>

<div class="form-group">
<%= f.label :country , class: "control-label col-lg-3" %>
<div class="col-lg-9"><%= f.country_select :country , nil , {}, class:"form-control"  %></div></div>

<%= f.text_area :body , label: "Introduction", placeholder:"Write what best describes your profession and primary skills." , size: "24x5"  %>
<%= f.form_group do %><%= f.submit "Update" %><% end %>

<% end %>
