<% @title = "Editing Profile" %>
<%= javascript_include_tag 'bootstrap-datepicker','datepicker_init' %>
<%= stylesheet_link_tag 'bootstrap-datepicker' %>

<div class="head">
	<h2>Editing Profile<span class="pull-right"><%= link_to "Back" , profile_path , class:"btn btn-primary" %></span></h2>
</div>

<%= bootstrap_form_for @user , html:{class:"col-sm-9"} do |f| %>

	<%= f.text_field :username , disabled:true , help: "Usernames cannot be changed." %>
	<%= f.select :gender , {'Male'=>'male','Female'=>'female'} %>
	<%= f.text_field :dob , "data-behaviour"=>"datepicker"  %>

	<div class="form-group">
		<%= f.label :country , class: "control-label" %>
		<div>
			<%= f.country_select :country , nil , {}, class:"form-control"  %>
		</div>
	</div>
	<%= f.text_area :body , label: "Introduction", placeholder:"Write what best describes your profession and primary skills." , size: "24x6"  %>
	<%= f.form_group do %><%= f.submit "Update" , class:"btn btn-success" %><% end %>

<% end %>

<div class="col-sm-3" id="avatar_box">
	<div class="avatar">
		<%= link_to (image_tag @user.avatar(:thumb)), edit_avatar_path %>
	</div>
	<%= link_to 'UPLOAD NEW', edit_avatar_path %></br>
	<%= link_to 'MODIFY CROP', crop_avatar_path %>
</div>
