<div class="head">
<h2>Psymies list</h2>
</div>

<table class="table table-striped">
<th>Rank</th>
<th>Username</th>
<th>Joined</th>
<th>Karma</th>
<% n = 0 %>
<% @users.each do |u| %>
<% n = n+1 %>
<tr>
<td><%= n %></td>
<td><%= link_to u.username, u %></td>
<td><%= time_ago(u.created_at) %></td>
<td><b><%= link_to u.points.round , activity_user_path(u) %></b></td>
</tr>
<% end %>
</table>

<%= paginate @users %>