<div class="head">
	<h1>user:<%= link_to @user.username , @user %>
		<% if can? :update , @user %>
			<span class="pull-right">
				<%= link_to 'Edit' , (@user == current_user ? edit_profile_path : edit_profile_path(username:@user.username)) , class: "btn btn-primary" %>
			</span>
		<% end %>
	</h1>
</div>

</br>
<p>The user has published a total of <%= @mindlogs.count %> mindlogs.</p>
<table class="table table-striped">
<th>Title</th>
<th>When?</th>
<% @mindlogs.each do |m| %>
	<tr>
	<td><%= link_to m.title, m %></td>
	<td><%= time_ago(m.created_at) %></td>
	</tr>
<% end %>
</table>