<% @title = "USER: #{@user.username}" %>
<% @user.mark_as_read! :for => current_user %>

<%# HEAD %>
<div class="head">
	<h1>user:<%= link_to @user.username , @user %>
		<%= link_to activity_user_path , class: "pull-right" do %>
			<%= @user.points %>
			<span class="glyphicon glyphicon-fire glyphicon-fix"></span>
		<% end %>
	</h1>
</div>

<%# LEFT: AVATAR AND KARMA %>
<div class="col-sm-3 text-center">
	<div class="avatar mar-b-10">
		<%= link_to (image_tag @user.avatar(:mini)), edit_avatar_path %>
	</div>
	<% if can? :update , @user %>
		<%= link_to 'Edit' , (@user == current_user ? edit_profile_path : edit_profile_path(username:@user.username)) , class: "btn btn-default" %>
	<% end %>
</div>

<%# RIGHT: MAIN CONTENT %>
<div class="col-sm-9 row">
	<b class="text-lighter suffix">
		<%= distance_of_time_in_words(Time.now,@user.dob, true,{:highest_measure_only=>true}) %> old <%= @user.gender %> from <%= @user.country %>
	</b>
	<%= @user.body %>
	<% if can? :manage, :all %></br></br><b>email: </b><%= @user.email %></br><% end %>

	<% if @user.mindlogs.any? %>
		<h3>Latest Mindlogs
			<%= link_to "Show All", mindlogs_user_path(@user) , class:"btn btn-default pull-right" %>
		</h3>
		<table class="table table-striped">
			<th>Title</th>
			<th>When?</th>
			<% @mindlogs.each do |m| %>
				<tr>
				<td><%= link_to m.title, m %></td>
				<td><%= distance_of_time_in_words(Time.now,m.created_at,true,highest_measure_only:true) %> ago</td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<h4>User never posted a mindlog</h4>
	<% end %>

</div>