<% @user.mark_as_read! :for => current_user if (current_user and current_user.role? "admin")  %>

<%# HEAD %>
<div class="head">
	<h1>user:<%= link_to @user.username , @user %>
		<%= link_to activity_user_path , class: "pull-right" do %>
			<%= @user.points.round %>
			<span class="glyphicon glyphicon-fire glyphicon-fix"></span>
		<% end %>
		<% if @user.role?(:admin) or @user.role?(:moderator) %>
			<span 	class="glyphicon glyphicon-star glyphicon-fix text-themed-light cursor-default"
					title="User is a Moderator"
					data-toggle="tooltip"
					data-placement="bottom">
			</span>
		<% end %>
	</h1>
</div>

<%# LEFT: AVATAR AND KARMA %>
<div class="col-sm-3 text-center">
	<div class="avatar mar-b-10">
		<%= link_to (image_tag @user.avatar(:thumb)), edit_avatar_path %>
	</div>
	<%= link_to 'Message' , user_messages_path(@user.username) , 
		class:"btn btn-themed mar-b-10" if can? :create , Message and @user != current_user %>
	<% if can? :update , @user %>
		<%= link_to 'Edit' , (@user == current_user ? edit_profile_path : edit_profile_path(username:@user.username)) , class: "btn btn-default" %>
	<% end %>
</div>

<%# RIGHT: MAIN CONTENT %>
<div class="col-sm-9 row">
	<b class="text-lighter suffix">
		<%= time_ago(@user.dob,"old") %> <%= @user.gender %> from <%= @user.country %>
	</b>
	<%= @user.body %>
	<br></br><b>Last active: 
		</b><%= @user.last_active_at ? time_ago(@user.last_active_at) : "Never" %></br>
	<% if can? :admin, User %>
		<b>email: </b><%= @user.email %></br>
		<b>Signin Count : </b><%= @user.sign_in_count %></br>
	<% end %>

	<% if @user.mindlogs.any? %>
		<h3>Latest Mindlogs
			<%= link_to "Show All", mindlogs_user_path(@user) , class:"btn btn-default pull-right" %>
		</h3>
		<table class="table table-striped">
			<th>Title</th>
			<th>When?</th>
			<% @mindlogs.each do |m| %>
				<tr>
				<td><%= link_to m.title, m %></td>
				<td><%= time_ago(m.created_at) %></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<h4>User never posted a mindlog</h4>
	<% end %>

	<% if @user == current_user %>
	<h3>Pending Content</h3>

	<% if @pending_mindlogs.blank? and @pending_comics.blank? %>
		<p class="well">None</p>
	<% else %>
		<table class="table table-striped">

			<th>Title</th>
			<th>Status</th>

			<% @pending_mindlogs.each do |m| %><tr>
				<td><span class="badge bg-brown">MINDLOG</span> <%= link_to m.title, m %></td>
				<td><%= m.workflow_state %></td>
			</tr><% end %>

			<% @pending_comics.each do |c| %><tr>
				<td><span class="badge bg-blue">COMIC</span> <%= link_to c.title, c %></td>
				<td><%= c.status %></td>
			</tr><% end %>

		</table>
	<% end end %>
</div>