<div class="head">
	<h1>user:<%= link_to @user.username , @user %>
		<% if can? :update , @user %>
			<span class="pull-right">
				<%= link_to 'Edit' , (@user == current_user ? edit_own_profile_path : edit_profile_path(@user.username)) , class: "btn btn-primary" %>
			</span>
		<% end %>
	</h1>

	<p class="text-light suffix">
		<%= distance_of_time_in_words(Time.now,@user.dob, true,{:highest_measure_only=>true}) %> old <%= @user.gender %> from <%= @user.country %>
	</p>
</div>

<div class="col-sm-12 row">
	<p class="col-sm-9"><%= @user.body %></p>
	<% if can? :manage, :all %>
		<p class="col-sm-9"><b>email: </b><%= @user.email %></p>
	<% end %>
</div>


<div class="pull-left text-center pad-10 mar-10 bg-dark">
	<h1 class="big-number">
		<%= link_to @user.mindlogs.count , mindlogs_user_path(@user) %>
	</h1> mindlogs
</div>

<div class="pull-left text-center pad-10 mar-10 bg-dark">
	<h1 class="big-number">
		<%= @user.responses.count %>
	</h1> responses
</div>