<div class="head">
<h1>Psymic Originals
<%= link_to 'New Comic', new_comic_path , class:"btn btn-default pull-right" if can? :create , Comic %>
</h1>
</div>

<% @comics.each do |comic| %>
  <div class="col-sm-4 comic">
    <%= link_to (image_tag "psymi-thumbnail.jpg") , comic %>
    <span><%= comic.title %></span>
  </div>
<% end %>

<%= paginate @comics %>

<% content_for :r2 do %>
<p class="col-sm-11 row mar-b-10"><b>Psymic Originals</b> is a webcomics series based on Mindlogs posted over Psymic. User submitted content is accepted too.</p>
<%= link_to 'Facebook Page' , 'https://www.facebook.com/psymic' , class:"btn btn-primary" %>
</p>
<% end %>