<title><%= @page_title || "Psymic" %></title>
<% if !@page_description.blank? %>
	<meta name="description" content= "<%= @page_description.tr(?", ?') %>">
	<meta property="og:description" content= "<%= @page_description.tr(?", ?') %>" />
<% end %>

<% @og_image ||= 'psymic_logo_og.png' %>
<meta property="og:image" content= "<%= URI.join(root_url, @og_image) %>" >
<meta property="fb:admins" content= "1297845733" />
<meta property="fb:app_id" content= "772050616139093" />
<meta property="og:title" content= "<%= @page_title %>" />
<meta property="og:type" content= "<%= @og_type || 'article' %>" />
<meta property="og:url" content= "<%= request.original_url %>" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">