<% if content_for?(:r2) %>
	<%= yield :r2 %>
<% end %>

<ul class="list-unstyled pull-left sidebar-bottom hidden-xs hidden-sm">
	<li><%= link_to "What is it?" , wiki_page_path("introduction") %></li>
	<li><%= link_to "How can I help?" , wiki_page_path("contribute") %></li>
	<li><%= link_to "Can you help me?" , wiki_page_path("get_helped") %></li>
	<li><%= link_to "Frequently Asked Q's" , wiki_page_path('faqs') %></li>
</ul>