<div class="col-xs-12">
<h2>Psymic Help Center</h2>
<p class="alert alert-info">Welcome to the Help Center. We have some basic documentation in place. If you need more help please head on to <%= link_to "Meta", page_path(:meta) %></p>

<table class="table table-striped">
	<tr><td><%= link_to "What is it?" , page_path("introduction") %></td></tr>
	<tr><td><%= link_to "How can I help?" , page_path("contribute") %></td></tr>
	<tr><td><%= link_to "Can you help me?" , page_path("get-helped") %></td></tr>
	<tr><td><%= link_to "Frequently Asked Q's" , page_path('faqs') %></td></tr>
</div>