<% @title = "Homepage" %>
<% if !current_user %>
<div class="hidden-xs row"><%= image_tag 'header.jpg', width:"730" %></div>
<% end %>

<div class="row pull-left">
	<div class="col-md-9 pad-extra center-xsm">
		<h2>Welcome to Psymic </h2>
		<p class="text-md text-300">Psymic is a global support group and an online compilation of human behaviours and their analyses, termed as “mindlogs”.</p>
	</div>
	<div id="counter" class="col-md-3 hidden-xs hidden-sm">So far</br>
	<span><%= link_to @mindlogs_count , mindlogs_path %></span>
	</br>entries</div>
</div>

<div id="banner">
	<% @class = "col-md-3 col-sm-6 col-xs-8 center-xs" %>
	<%= link_to (image_tag 'observations.png',class:@class),
		wiki_page_path('report_observations') %>
	<%= link_to (image_tag 'hypotheses.png',class:@class),
		wiki_page_path('share_hypothesis') %>
	<%= link_to (image_tag 'think.png',class:@class),
		wiki_page_path('learn_what_others_think') %>
	<%= link_to (image_tag 'cope.png',class:@class),
		wiki_page_path('learn_how_others_cope') %>
</div>
</br>

<%= content_for :r2 do %>
Psymic is social.</br>
So please <%= link_to "login" , new_user_session_path %>,</br>
to use it better</br>
</br>
<%= link_to "Read Mindlogs", mindlogs_path , class:"btn btn-success" %>
<% end %>