<% preload_comments ||= false #pass in locals %>
<% require "rinku" %>

<div id="commentable-<%= response.id %>" class="row">

	<div class="response-entry">
		<div class="rating">
			<%= render partial: "responses/rating" , locals: {:response => response} %>
		</div>

		<div class="response-entry-body type-<%= response.nature %>">
			<%= render_mentions(Rinku.auto_link(response.body)).html_safe %>
			<div class="text-lighter">
				by <%= link_to response.user.username,response.user%>

				<% if can? :update , response %>
					<%= link_to '', edit_mindlog_response_path(response.mindlog,response) , class:"glyphicon glyphicon-pencil" %>
				<% end %>

				<% if can? :destroy , response %>
					<%= link_to '', [response.mindlog, response] ,:method=> :delete, class:"glyphicon glyphicon-trash" , :confirm=> 'Are you sure?'  %>
				<% end %>

				<% if can? :read , Comment and !preload_comments %>
					<%= link_to '' , get_comments(response) , :remote=> true , class:"glyphicon glyphicon-comment" %> <%= response.comments.count %>
				<% end %>

			</div></div>

			<div class="comments-js">
			<% if preload_comments == true %>
					<%= render template: "comments/show",
					locals: {commentable: @response} %>
			<% end %>
		</div>
	</div>
</div>