<div class="head">
	<h2>Login</h2>
</div>

<div class="col-sm-9">
<%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name),style: :horizontal do |f| %>

	<%= f.text_field :login, autofocus: true , placeholder:"username or email" %>
	<%= f.password_field :password %>

	<%= f.form_group do %>
	  <% if devise_mapping.rememberable? -%>
	    <%= f.check_box :remember_me %></br>
	  <% end %>

		<div class="btn-group">
			<%= f.submit "Sign in", class: "btn btn-themed" %>
			<%= link_to "Join", new_user_registration_path , class: "btn btn-default" %>
			<%= link_to "Forgot Password", new_user_password_path , class: "btn btn-default" %>
		</div>

	<% end %>
<% end %>
</div>

<div class="col-sm-3">
<p class="text-light">If you do not have an account, please <%= link_to "make", new_user_registration_path %> one right now. It only takes a few minutes.</p>
</div>