<%# USE DURNG ALPHA TESTING %>
<h2>Testing Accounts Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),html: {class: "form-horizontal margin-top-20", role: "form"}) do |f| %>

<div class="form-group">
<%= f.text_field :login, :autofocus => true , :class=>"form-control" , placeholder:"username" %>
</div>

<div class="form-group">
  <%= f.password_field :password , :class=>"form-control", placeholder:"password"%>
</div>

<div class="form-group">
  <% if devise_mapping.rememberable? -%>
		<%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end %>
</div>

<%= f.submit "Sign in", :class=>"btn btn-success btn-lg" %></br>
</br>
<%= link_to "Sign up", new_user_registration_path %></br>
<%= link_to "Forgot Password", new_user_password_path %>
<% end %>