<div class="head">
	<h2>Community Reports</h2>
	<div class="row bg-dark">Mindlog: <%= link_to @reportable.title , @reportable %></div>
</div>


<% if @reportable.reports.any? %>
	<table class="table table-striped">

		<tr>
			<th class="col-lg-9">Issue</th>
			<th class="col-lg-3 text-center">Incidences</th>
		</tr>

		<% Flag.all.each do |flag| %>

		<% @incidences = @reportable.reports.where("flag_id = ?",flag.id).count %>
		<% if @incidences > 0 %>

		<tr>
			<td><%= flag.title %></td>
			<td class="text-center"><span class="badge"><%= @incidences %></span></td>
		</tr>

		<% end end %>
	</table>

	<%= link_to "Edit Content" , edit_polymorphic_path(@reportable) , class:"btn btn-default" %>
	<%= link_to "Mark as resolved" , resolve_mindlog_path(@reportable) , class:"btn btn-success" %>

<% else %>
	<p class="well">No reports over this entity</p>
<% end %>