<% m = @has_details ? @mindlogs.with_details : @mindlogs %>
<% m.each do |m,details| %>
	<div class="mindlog">

		<div class="pull-right mindlog_stats text-center cursor-default hidden-xs">

			<span data-toggle="tooltip" data-placement="left" title="Responses to this Mindlog">
				<%= "%02d" % m.responses_count %>
			</span>

			<div class="mindlog_responses_count" data-toggle="tooltip" data-placement="left" title="Incidence of this behaviour in percent">
				<%= m.rating_percent %>
				<span class="glyphicon glyphicon-flash"></span>
			</div>
		</div>

		<div class="mindlog_body">
			<div class="avatar">
				<%= link_to (image_tag m.user.avatar(:mini)), m.user %>
			</div>
			<div class="mindlog_bottom_line text-lighter">
				<%= link_to m.user.username , m.user %> posted 
				<%= time_ago(m.created_at) %>
			</div>
			<%= link_to m , class:"suffix link-black" do %>
				<h4>
					<%= (details and details[:highlight][:title]) ? details[:highlight][:title].html_safe : m.title %>
				</h4>
			<% end %>
			<ul class="mindlog_tag_list link-inverted">
				<% m.topics.limit(5).each do |t| %>
					<li <%= "class=active" if t.to_s == params[:query] %>>
						<%= link_to "##{t}" , tag_mindlogs_path(t.name) %>
					</li>
				<% end %>
			</ul>
		</div>

	</div>
	<% end %>