<% @mindlogs.with_details.each do |m,details| %> 
	<tr>

		<td class="mindlog_stats text-center cursor-default">
			<span title="Users who said they have experienced this"><%= "%02d" % m.users.count %></span>
			<div class="mindlog_responses_count" title="Responses to this Mindlog"><%= m.responses.count %> <span class="glyphicon glyphicon-comment"></span></div>
		</td>

		<td class="text-lg mindlog_body">
			<%= link_to m do %>
			<%= if details.any? then details[:highlight][:title].html_safe else m.title end %>
			<% end %>
			
			<div class="mindlog_bottom_line text-lighter">
				<%= distance_of_time_in_words(Time.now,m.created_at, true, :highest_measure_only=> true) %>
				by <%= link_to m.user.username , m.user %>
			</div>
			<ul class="mindlog_tag_list link-inverted">
				<% m.topics.limit(5).each do |t| %>
					<li><%= link_to "##{t}" , mindlogs_path(tag: t.name) %></li>
				<% end %>
			</ul>
		</td>

	</tr>
	<% end %>