<% content_for :r2 do %>

<ul id="mindlog_links" class="row">

	<div class="avatar col-sm-6">
		<%= link_to (image_tag @mindlog.user.avatar(:mini)), @mindlog.user %>
	</div>

	<div class="col-xs-12">
		<li class="text-dark">By <%= link_to @mindlog.user.username , @mindlog.user %></li>
		<li class="text-sm text-dark"><%= @mindlog.created_at.strftime("%d %B %Y") %></li>
		<li class="divider"></li>
		<%= render "links" %>
	</div>
</ul>

<% if @channels.any? %>
	<div id="channels">
		<h4 class="prefix">Featured in</h4>
		<% @channels.each do |c| %>
			<%= link_to c , style:"line-height:20px" do %>
				<%= image_tag c.icon(:mini) , class: "icon" %>
				<%= c.title %></br>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if can? :submit_to_channel , @mindlog %>
<%= link_to "Add to Channel" , channels_mindlog_path , class:"btn btn-sm btn-default mar-t-10" %>
<% end %>

<% end %>