<%# HEADER %>
<div id="mindlogs_header">
	<div id="mindlogs_header_text">
	<span class="glyphicon glyphicon-leaf"></span>
	<span class="hidden-xs">Mindlogs</span>
	</div>
	<%# SEARCH BOX %>
	<%= form_tag mindlogs_path , method: :get , id:"mindlogs_search", class:"pull-right" do %>
		<div class="input-group">
			<%= text_field_tag :query, params[:query], class: "form-control col-xs-12" , id:"mindlog_search" , placeholder:"type to search" %>
			<span class= "input-group-btn">
			<%= button_tag "<span class='glyphicon glyphicon-search'></span>".html_safe , class:"btn btn-themed" %></span>
		</div>
	<% end %>
</div>
<div class="spacer-50 hidden-sm hidden-xs"></div>
</br>

<%# Form %>
<%= render 'mindlogs/form_minimal' %>

<%# THE ENTRIES %>
<%= page_entries_info @mindlogs %>
<%= render 'mindlogs/list' %>
<%= paginate @mindlogs %>

<%# RIGHT SIDEBAR %>
<%= content_for :r2 do %>

<%# SORT OPTIONS %>
<ul class="list-unstyled sort-options">
<% if params[:query] %>
<li><%= link_to "Relevant first" , url_for(params.merge(sort: :relevance)) ,
		class:"#{'active' if !params[:sort] and params[:query]}" %></li>
<% end %>
<li><%= link_to "Latest first" , url_for(params.merge(sort: :date)) ,
		class:"#{'active' if (!params[:sort] and !params[:query]) or params[:sort]=='date'}" %></li>
<li><%= link_to "Popular first" , url_for(params.merge(sort: :popular)),
		class:"#{'active' if params[:sort]=='popular'}" %></li>
<li><%= link_to "Unresponded" , url_for(params.merge(sort: :lonely)),
		class:"#{'active' if params[:sort]=='lonely'}" %></li>
</ul>

<% end %>

<%# The includes %>
<%= javascript_include_tag 'typeahead.bundle.min','mindlogs_typeahead' %>
<%= stylesheet_link_tag 'bootstrapped-typeahead' %>