<%# HEADER %>
<div id="mindlogs_header">
	<div id="mindlogs_header_text">
	<span class="glyphicon glyphicon-leaf"></span>
	<span class="hidden-xs">Mindlogs</span>
	</div>
	<%# SEARCH BOX %>
	<%= form_tag mindlogs_path , method: :get , id:"mindlogs_search", class:"pull-right" do %>
		<div class="input-group">
			<%= text_field_tag :query, params[:query], class: "form-control col-xs-12" , id:"mindlog_search" , placeholder:"type to search" %>
			<span class= "input-group-btn">
			<%= button_tag "<span class='glyphicon glyphicon-search'></span>".html_safe , class:"btn btn-themed" %></span>
		</div>
	<% end %>
</div>
<div class="spacer-50 hidden-sm hidden-xs"></div>
</br>

<%# Form %>
<%= render 'mindlogs/form_minimal' if can? :create , Mindlog %>

<%# THE ENTRIES %>
<%= page_entries_info @mindlogs %>
<%= render 'mindlogs/list' %>
<%= paginate @mindlogs %>

<%# RIGHT SIDEBAR %>
<%= content_for :r2 do %>

<%# SORT OPTIONS %>
<ul class="list-unstyled sort-options">

	<% if params[:query] %>
		<li>
			<%= link_to "Relevant first" , url_for(params.merge(sort: :relevance)) ,
			class:"#{'active' if !params[:sort] and params[:query]}" %>
		</li>
	<% end %>

	<li>
		<%= link_to "Latest first" , url_for(params.merge(sort: :date)) ,
			class:"#{'active' if (!params[:sort] and !params[:query]) or params[:sort]=='date'}" %>
	</li>

	<li>
		<%= link_to "Popular first" , url_for(params.merge(sort: :popular)),
			class:"#{'active' if params[:sort]=='popular'}" %>
	</li>

	<li>
	<%= link_to "Unresponded" , url_for(params.merge(sort: :lonely)),
			class:"#{'active' if params[:sort]=='lonely'}" %>
	</li>
</ul>

<% if current_user %>
<div id="user_rank" class="mar-t-30">
	<h4>Your Rank</h4>
	<h2 class="suffix">
		<%= link_to get_rank(current_user), activity_user_path(current_user) %>
	</h2>
</div>
<% end %>

<div id="top_users" class="mar-t-30">
<h4><%= link_to "Top Psymies", users_path , class:"link-black" %></h4>
<% @top_users.each_with_index do |u,n| %>
<p><%= (n+1) %> <%= link_to u.username , u %></p>
<% end %>
</div>
<% end %>

<%# The includes %>
<%= javascript_include_tag 'typeahead.bundle.min','mindlogs_typeahead' %>
<%= stylesheet_link_tag 'bootstrapped-typeahead' %>