<%# HEADER %>
<div id="mindlogs_header">
	<div id="mindlogs_header_text">
		<span class="glyphicon glyphicon-leaf"></span>
		<span class="hidden-xs">Mindlogs</span>
	</div>
	<%= render 'mindlogs/search_form' %>
</div>
<div style='margin-top: 70px' class='hidden-sm hidden-xs'></div>

<%# MINDLOG MINI FORM %>
<%= render 'mindlogs/form_minimal' if can? :create , Mindlog %>

<%# THE ENTRIES %>
<%= page_entries_info(@mindlogs) %>
<%= render 'mindlogs/list' %>
<%= paginate @mindlogs %>

<%# RIGHT SIDEBAR %>
<%= content_for :r2 do %>
<%= render 'sort_links' %>
<%= render 'shared/user_rank' if current_user %>
<%= render 'shared/top_users' %>
<% end %>