<% @mindlog.reset_watch(current_user.id) if current_user %>
<%= image_tag "loading_mini.gif" , class:"hidden" %>
<%# Main body %>
<%= render 'mindlog_body' %>

<div class="col-md-2 text-right">
	<div id="fb_like">
		<div class="fb-like" data-action="like" data-colorscheme="light" data-font="arial" data-layout="button" data-send="false" data-show-faces="false" data-width="450">
		</div>
	</div>
</div>

<div class="col-md-10">

	<div id="vote_box" class="position-relative">
		<div id="vote_box_inner">
			<%= render "vote_box" %>
		</div>
	</div>

</div>

<% if @responses.empty? %>
	<%= render 'no_responses' %>
<% else %>
	<%# Responses Counters and sorters etc %>
	<div id="mindlog_responses" class="bg-white pull-left">
	<div id="responses_links" class="col-md-2 text-right">
		<div class="hidden-sm hidden-xs"><div id="responses_count"><%= @mindlog.responses.count %></div><span>Responses</span></div>
		<div id="response_filters"><ul>
			<li><%= link_to "All", mindlog_path , class: active_if_filter('all') %></li>
			<li><%= link_to "Explanations", "#{mindlog_path}?only=explanation" , class: active_if_filter('explanations') %></li>
			<li><%= link_to "Solutions", "#{mindlog_path}?only=solution" , class: active_if_filter('solutions') %></li>
			<li><%= link_to "Critiques", "#{mindlog_path}?only=critique" , class: active_if_filter('critiques') %></li>
			<li><%= link_to "Stories", "#{mindlog_path}?only=story" , class: active_if_filter('stories') %></li>
		</ul></div>
	</div>

	<%# THE Responses and form %>
	<div class="col-md-10">
		<div id="response_form" class="row"><%= render 'responses/form' %></div>
		<div id="responses" class="mar-l-m15"><%= render 'responses' %></div>
	</div>

	<div class="center text-center text-lighter">
	--Tags-- <ul class="list-unstyled list-inline">
		<% @mindlog.topic_list.each do |t| %>
			<li><%= link_to "#{t}" , tag_mindlogs_path(t) , class:"text-300" %></li>
		<% end %>
	</ul>
	</div>
	</div>
<% end %>

<%# Rightbar Content %>
<%= render 'mindlog_rightbar' %>

<script src=https://connect.facebook.net/en_US/all.js#xfbml=1&appId=772050616139093 type='text/javascript'></script>

<script>
$(document).on("click",".pagination a", function(){
	$(".pagination").html("<%= Helper.escape_js(image_tag "loading_mini.gif") %>")})

</script>