<h1>Welcome to MindLog</h1>
<div class="box blue"><h1><%= '#'+params[:tag] %></h1></div>

<%= render 'r2' %>
<%= render 'list' %>

<% content_for 'breadcrumb' do %>
<%= (link_to 'Home' , '/') + ' > ' + (link_to 'MindLog' , :controller=> 'mindlogs' , :action=> 'index') %>
<% end %>

<%= button_to 'New Mindlog', new_mindlog_path %>