<table class="table table-striped">

<% @feedbacks.each do |feedback| %>
  <tr id="commentable-<%= feedback.id %>">

    <td class="text-right col-sm-1">
      <%= render 'meta/feedbacks/tags' , feedback: feedback %>
    </td>

    <td class="col-sm-11">
      <%= feedback.body %>
      <%= render 'meta/feedbacks/links' , feedback: feedback %>
      <div class="comments-js"></div>
    </td>
  </tr>
<% end %>
</table>

<div class="text-center"><%= paginate @feedbacks %></div>
