<div class="head head-dark">
	<h2><%= link_to "META" , meta_feedbacks_path %> > Showing single item</h2>
</div>

<div id="commentable-<%= @feedback.id %>">
<p><%= render 'tags' , feedback: @feedback %></p>

<p><%= @feedback.body %></p>
<%= render 'links' , feedback: @feedback %>

<h3><%= @feedback.comments.count %> Comments</h3>
<%= render template: "comments/show" , locals: {commentable:@feedback} %>
</div>