<%# Logo %>

<div id="logo" class="pull-right">
<%= link_to (image_tag 'psymic-grey-alpha.png' , class:"img-responsive row col-md-10 pull-right") , '/' %>
</div>

<%# Button %>

<div id="links_wrapper">


	<% if current_user %>
		<div id="btn_container" class="pull-right">
			<%= link_to notifications_path do %>
				<span id="notifics" class="badge <%= "bg-red" if notifications_count %>"><%= notifications_count %></span><% end %>

		<div id="collapsing_button" class="pull-right pull-right-xs">

		<div class="dropdown center">

  			<button class="btn dropdown-toggle btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown">
    			@<%= current_user.username %><span class="caret"></span>
  			</button>

	 			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

		    	<li class="hidden">
		    		<%= link_to "Welcome #{current_user.username}",current_user, class:"welcome_line" %>
	    		</li>

		    	<li role="presentation">
		      	<%= link_to subscriptions_path do %>
		      		Watchlist <%= content_tag :span, subscriptions_count, class: 'badge bg-themed' %>
		      	<% end %>
		    	</li>

		    	<li role="presentation" class="divider"></span></li>

		    	<li role="presentation">
		    		<%= link_to "Profile" , current_user %>
	    		</li>

		    	<li role="presentation">
		    		<%= link_to 'Settings' , edit_user_registration_path %>
	    		</li>

		    	<% if can? :admin , :all %>
		    		<li role="presentation">
			    		<%= link_to admin_root_path do %>
			    			Admin <%= content_tag :span, admin_notifications_count , class:'badge bg-themed' %>
			    		<% end %>
		    		</li>
	    		<% end %>

		    	<li role="presentation"><%= link_to "Logout", destroy_user_session_path , :method=>:delete %></li>
	  		</ul>
  		</div>
		</div>
	</div><% end %>

<%# Primary Links %>
<ul id="primary_links">
	<% if !current_user %>
		<li><%= link_to "Login/Join" , new_user_session_path %></li>
	<% end %>
	<li><%= link_to "Channels" , channels_path %></li>
</ul>

<%# Secondary %>
<ul class="bottom-links text-right pull-right">
	<% if can? :read , Feedback%><li><%= link_to "Meta" , meta_feedbacks_path %></li><% end %>
	<% if can? :backstage , Feedback%><li><%= link_to "Backstage" , admin_backstage_path %></li><% end %>
	<li><%= link_to "Help Center" , wiki_page_path(:help) %></li>
</ul>

<div id="footer_text"><span>All rights reserved</span></div>

</div>