<!DOCTYPE html>
<html>
<head>
	<%= display_meta_tags :site => 'Psymic' %>
	<%= analytics_init if Rails.env.production? %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= favicon_link_tag 'psymicon.ico' %>
  	<%= csrf_meta_tags %>
  	<meta property="og:image" content= "<%= URI.join(root_url, image_path('psymic_logo_og.jpg')) %>" >
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id = "top-streak" class="hidden-xs hidden-sm"></div>
<div id="top-menu-spacer" class=" hidden-md hidden-lg tout"><div id = "top-menu">
	<%= link_to image_tag("icon-menu.png") , '#' , class:"btn btn-sm" , id:"menu_link"%> 
	<%= link_to image_tag("psymic-mini.png"), root_path %>
</div></div>

<div class="container">
	<%# Left Sidebar %>
	<div class="col-md-2 sidebar_container">
		<div class="hidden-xs hidden-sm sidebar sidebar-left"><%= render 'layouts/sidebar' %></div></div>

	<%# Content Area %>
	<div id="semi_container" class="col-md-8">
		<%= render partial: "alerts" %>
		<div id="content" class="bg-white col-xs-12"><%= yield %>
		<div id="footer_b">We're accepting developers, psychologists and editors. Visit <%= link_to "this", wiki_page_path(:contribute) %> for more.</div>
		</div>
	</div>

	<%# Right Sidebar %>
	<div class="col-md-2 col-xs-12 sidebar_container">
		<div class="sidebar sidebar-right">
			<%= render "shared/rightbar" %>
		</div>
	</div>
</div>

<%# Footer %>
<div id="footer" class="hidden-sm hidden-xs"></div>
</body>

</html>